$color-paper: #424242;

.account-paper {
    margin: 10px auto;
    margin-top: -150px;
    padding: 20px;
    width: 800px;
    background-color: $color-paper!important;
}
.account-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-paper__grid-list {
    margin-top: 60px;
}
.account-paper__button {
    margin: 10px!important;
}
.account-paper-button-wrapper {
    margin-top:50px;
}
.account__btn-submit {
    margin: 50px 10px 10px 10px;
}
